<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= @source.name %>
    </h2>
    <% # render_category_navigation( source_path( @source ) ) %>
    <% @stories.each do |story| %>
      <div class='story'>
        <div class='headline'><%= render_story_preview( story ) %></div>
      </div>
    <% end %>
    <% if @stories.empty? %>
      <em>No stories found.</em>
    <% end %>
  </div>
</div>
<%= render_pagination( @stories ) %>