<div class='headline'><%= render_headline_preview( headline ) %></div>
<ul>
  <% cluster.stories.each do |story| %>
    <li class='story'><%= render_story_preview( story ) %></li>
  <% end %>
  <li class='info'> 
    <%= render_cluster_info( cluster ) %>
  </li>
  <li class='story'><%= links_to_keywords( *(cluster.top_keywords) ).join(' - ') %></li>
</ul>