<% render_image_block( cluster ) do -%>
  <div class='headline'><span class='title'><%= link_to (cluster.top_keywords).join(' '), stories_path( :q => cluster.top_keywords.join(' '), :l => cluster.language_id, :ts => 24.hours ) %></span>
<br><%= render_headline_age( headline, :without => :image ) %></div>

<ul>
  <% cluster.stories.each do |story| %>
    <li class='story'><%= render_story_preview( story, :without => :image ) %></li>
  <% end %>

</ul>
<% end %>