<% # facets and base_url are two local params for this template %>
<% if facets.filter_count > 0 %>
<span class='filter_links'>
  <%= render_filter_link( :all, 'cluster.all.label', base_url, 1 ) %>
  <%= render_filter_link( :opinions, 'cluster.all.opinions', base_url, facets.opinion_count ) %>
  <%= render_filter_link( :videos, 'cluster.all.videos', base_url, facets.video_count ) %>
  <%= render_filter_link( :blogs, 'cluster.all.blogs', base_url, facets.blog_count ) %>
</span>
<% end %>