<div class="prefix_4 suffix_4 grid_8 ta_center">
  <span class='grey'>&copy; 2010</span>
  <%= link_to 'about' %> |
  <%= link_to 'privacy' %> |
  <%= link_to 'imprint' %> |
  <%= link_to 'feedback' %>
</div>