<div class="prefix_4 suffix_4 grid_8 ta_center">
  <span class='grey'>&copy; 2010</span>
  <%= link_to t( 'navigation.bottom.about' ) %> |
  <%= link_to t( 'navigation.bottom.privacy' ) %> |
  <%= link_to t( 'navigation.bottom.imprint' ) %> |
  <%= link_to t( 'navigation.bottom.feedback' ) %>
</div>