<div class='clearfix'>

  <div class='grid_1 alpha image'>
    <a href='<%= url -%>'><img src='<%= image -%>' alt='' /></a>
  </div>
  <div class='<%= story_block_with_image_position %>'><%= content %></div>
</div>
