<% @story_blocks.keys.each do | group_type | %>
    <% partial = "blocks/#{group_type}" %>
    <% if group_type.to_s == 'sections' %>
      <div class='clearfix'></div>
      <% reset_content_block_clearfix %>
    <% end %>
    <% @story_blocks[ group_type ].each do |block| %>
    <div class='news_group'>
      <%= render :partial => partial, :locals => { :block => block } %>
    </div>
    <% end %>
<% end %>
<iframe src="http://www.facebook.com/plugins/likebox.php?id=104940249561877&amp;width=780&amp;connections=10&amp;stream=false&amp;header=false&amp;height=185" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:780px; height:185px;" allowTransparency="true"></iframe>