<% @story_blocks.keys.each do | group_type | %>
    <% partial = "blocks/#{group_type}" %>
    <% @story_blocks[ group_type ].each do |block| %>
    <div class='news_group'>
      <%= render :partial => partial, :locals => { :block => block } %>
    </div>
    <% end %>
<% end %>
