<div class='news_group'>
  <div class='news_block'>
    <h2><%= t("navigation.main.#{@section.name}")%></h2>
    <% @section.clusters.each do |cluster| %>
	<div id='cluster_<%= cluster.id -%>' class='cluster'>
      <%= render_cluster_preview( cluster ) %>
	</div>
    <% end %>
    <% if @section.clusters.empty? %>
      <em>No stories found.</em>
    <% end %>
  </div>
</div>
<%= render_pagination( @section ) %>

