<% if block.any? %>
<div class='news_block'>
  <h2><%= link_to t('navigation.main.top_authors'), top_authors_path %></h2>
  <% block.each do |story| %>
    <div class='headline'><%= render_story_preview( story ) %></div>
  <% end %>
</div>
<% end %>