<% if block.stories.any? %>
<div class='news_block'>
  <h2><%= link_to block.name, topic_path( block.id ) %></h2>
  <% block.stories.each do |story| %>
    <div class='story'>
      <% if story.cluster && story.cluster.stories.any? %>
        <%= render_cluster_preview( story.cluster, story ) %>
      <% else %>
        <%= render_story_search_preview( story ) %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>