<h2>
	<b>
About Jurnalo
	</b>
</h2>

<div class = "about">
	With Jurnalo you can:<br><br>
	
	-	browse the news<br>
	-	search the news<br>
	-	weight any author or source<br>
	-	subscribe to any author<br>
	-	create your own topics<br>
	-	save interesting articles to your reading list<br><br>
	
	Jurnalo ranks and sorts articles fully automatically based on relevance, quality and time. <br><br>
	The selection and weighting of sources is based on the sole criteria of journalistic quality. <br><br>
	
Credits

Special thanks go out to the following people without whose open-source contributions this application would not have been possible: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b> Andrew Aksyonoff </b> (Sphinx search technology)<br>
 <br><br>

</div>
